
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Titillium+Web:wght@900&display=swap');





.App {
  text-align: center;
}

.customContainer {
  max-width:1800px;
}

i {
  color:#fff;
  font-size:100px;
}

body {
  background-color:rgb(24, 0, 36)!important;
  color:#fff;
}

.navClass {
  background-color:rgba(24, 0, 36, 0.041);
  backdrop-filter:blur(15px);
  color:#fff!important;
  
}

h1 {
  color:#fff!important;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  color:#fff!important;
  font-family: 'Titillium Web', sans-serif;
}

.carouselImage{
  height:400px;
}


.carousel-control-next-icon {
  display:none!important;
}

.carousel-control-prev-icon {
  display:none!important;
}

.topImg {
  position: relative;
  display: flex;
  align-items: center;
  min-height: clamp(13rem, 50vh, 23rem);
  background-size: cover;
  background-position: center center;
  width: 100%;
  top: -104px;
  z-index: -99;
  
}

.aboutMe {
  color:#fff;
  text-align:left;
}

.aboutMe a {
  color:#f72065;
}

.aboutMe a:hover {
  color:#be0d45;
}

.aboutMeRight {
  color:#fff;
  text-align:right;
}


.styledLink {
  color:#f72065;
}

.styledLink:hover {
  color:#be0d45;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navHeader {
  font-family: 'Titillium Web', sans-serif;
  font-size:33px!important;
}


